body{
    background-color: #D2E3C8;
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    padding: 0;
}

header{
    background-color: #739072;
    padding: 0.5%;
    color: white;
    text-align: center;
}

ul, a{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

/* -------------- FORMS ------------------------- */
h1, h4{
    margin: 30px;
    text-align: center;
}

.forms{
    margin: 0px 50px 50px 50px;
    font-size: larger;
}

.box{
    margin: 30px;
}

.box1{
    margin: 20px;
}

.send{
    width: 100px;
    height: auto;
    display: block; 
    margin: 0 auto;
}

/*----------------------- Footer -----------------------------------  */
footer{
    background-color: #4F6F52;
    color: white;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
}

.foot_text{
    padding: 10px 50px 0px 50px;
}

.foot_image{
    margin: 0px 0px 30px 0px;
    width: 50px;
    height: auto;
}

.copy{
    display: block;
    text-align: center; 
    padding-bottom: 10px;
}

/* ------------------------ MEDIA ------------------------ */
@media screen and (max-width: 480px){
    ul {
        flex-direction: column; 
        align-items: center;
        padding-left: 0;
    }

    .foot_text{
        text-align: center;
    }

    .foot_image{
        width: 50px;
        height: auto;
    }
}

